<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      Questions
    </h4>

    <ul class="list-unstyled">
      <%= render @questions %>
    </ul>

    <%= paginate @questions %>
  </div>
</div>
