<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      Searching for
      <span class="badge badge-pill badge-success"><%= params[:q] %></span>
    </h4>

    <ul class="list-unstyled">
      <% @records.each do |record| %>
        <%= render "search/#{record.class.to_s.underscore}", record: record %>
      <% end %>
    </ul>
  </div>
</div>
